{% load widget_tweaks %}

<form hx-post="{{request.path}}" hx-indicator="#loading">

    <div class="input__item ">
        {%  render_field  form.email  class="col-md-12" type="text" placeholder="Email address" %}
          <span class="icon_mail"></span>
          {% if form.email.errors %}
          <p class="text-danger small mt-2">
              {{ form.email.errors.0 }}
          </p>
      {% endif %}
      </div>
   
  
      <div class="mt-4 htmx-indicator" id="loading">
        {% include 'user_app/partials/htmx_loader.html' %}

        </div>
    <button type="submit" class="site-btn">Reset Password</button>
</form>