{% load widget_tweaks %}

<form hx-post="{{request.path}}" hx-indicator="#loading">

    <div class="input__item ">
        {%  render_field  form.email  class="col-md-12" type="text" placeholder="Email address" %}
          <span class="icon_mail"></span>
          {% if form.email.errors %}
          <p class="text-danger small mt-2">
              {{ form.email.errors.0 }}
          </p>
      {% endif %}
      </div>
      <div class="input__item ">
        <input type="password" class="col-md-12" id="passwordInput" placeholder="Password" name="password" {% if password %}
        value="{{ password }}" {% else %} value="" {% endif %} />

          <span class="icon_lock"></span>
          {% if form.password.errors %}
          <p class="text-danger small mt-2">
              {{ form.password.errors.0 }}
          </p>
      {% endif %}
      </div>
  
      
      <div class="mt-4 htmx-indicator" id="loading">
        {% include 'user_app/partials/htmx_loader.html' %}

        </div>
    <button type="submit" class="site-btn">Log In  Now</button>
  
</form>