{% extends 'user_app/user_main_layout.html' %} 
{% load static %}
 {% block content %}
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a href="./index.html"><i class="fa fa-home"></i> Home</a>
          <a href="./categories.html">Categories</a>
          <span>{{page_title}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} show modal here {% endcomment %}
{% include 'user_app/partials/show_modal.html' %}

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <div class="product__page__content">
        <div class="product__page__title">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6">
              <div class="section-title">
                <h4>{{page_title}}</h4>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="btn__all">
                  <a href="{% url 'categories_page' category_slug%}" class="primary-btn"> All ({{show_count}}) <span class=""></span></a>
              </div>
          </div>
          </div>
        </div>
        <div class="row"  hx-get="{% url 'user_categories_list' category_slug %}" hx-trigger="load">
         
{% include 'user_app/partials/htmx_loader.html' %} 
      
        </div>
      </div>
    </div>
{% include 'user_app/partials/for_you_section.html' %} 
    
  </div>
</div>

{% endblock content %}
