<html lang="en">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site_name|default_if_none:'Framefusion LLC.'|title  }} - {{ request.session.page|default_if_none:''|title }}</title>


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&amp;display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'user_temp_files/assets/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user_temp_files/assets/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user_temp_files/assets/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user_temp_files/assets/css/plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user_temp_files/assets/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user_temp_files/assets/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user_temp_files/assets/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user_temp_files/assets/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder" style="display: none;">
        <div class="loader" style="display: none;"></div>
    </div>

    <!-- Header Section Begin -->
    {% include 'user_app/partials/header.html' %}

    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-1380px, 0px, 0px); transition: all 0s ease 0s; width: 4830px;">
                        
                        <div class="owl-item cloned" style="width: 690px;">
                            <div class="hero__items set-bg" data-setbg="{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}" style="background-image: url('{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}');">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hero__text">
                                            <div class="label">Adventure</div>
                                            <a href="anime-details.html">
                                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                            </a>
                                            <p>After 30 days of travel across the world...</p>
                                            <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="owl-item cloned" style="width: 690px;">
                            <div class="hero__items set-bg" data-setbg="{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}" style="background-image: url('{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}');">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hero__text">
                                            <div class="label">Adventure</div>
                                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                            <p>After 30 days of travel across the world...</p>
                                            <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="owl-item animated owl-animated-in fadeIn active" style="width: 690px;">
                            <div class="hero__items set-bg" data-setbg="{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}" style="background-image: url('{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}');">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hero__text">
                                            <div class="label">Adventure</div>
                                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                            <p>After 30 days of travel across the world...</p>
                                            <a href="anime-watching.html"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="owl-item" style="width: 690px;">
                            <div class="hero__items set-bg" data-setbg="{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}" style="background-image: url('{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}');">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hero__text">
                                            <div class="label">Adventure</div>
                                            <a href="anime-details.html">
                                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                            </a>
                                            <p>After 30 days of travel across the world...</p>
                                            <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="owl-item animated owl-animated-in fadeIn" style="width: 690px;">
                            <div class="hero__items set-bg" data-setbg="{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}" style="background-image: url('{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}');">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hero__text">
                                            <div class="label">Adventure</div>
                                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                            <p>After 30 days of travel across the world...</p>
                                            <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="owl-item cloned" style="width: 690px;">
                            <div class="hero__items set-bg" data-setbg="{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}" style="background-image: url('{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}');">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hero__text">
                                            <div class="label">Adventure</div>
                                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                            <p>After 30 days of travel across the world...</p>
                                            <a href="anime-watching.html"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="owl-item cloned" style="width: 690px;">
                            <div class="hero__items set-bg" data-setbg="{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}" style="background-image: url('{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}');">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hero__text">
                                            <div class="label">Adventure</div>
                                            <a href="anime-details.html">
                                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                            </a>
                                            <p>After 30 days of travel across the world...</p>
                                            <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="owl-nav">
                    <button type="button" role="presentation" class="owl-prev"><span class="arrow_carrot-left"></span></button>
                    <button type="button" role="presentation" class="owl-next"><span class="arrow_carrot-right"></span></button>
                </div>
                <div class="owl-dots">
                    <button role="button" class="owl-dot active"><span></span></button>
                    <button role="button" class="owl-dot"><span></span></button>
                    <button role="button" class="owl-dot"><span></span></button>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">

        {% block content %}
        {% endblock %}
    </section>

    <!-- Product Section End -->

    <!-- Footer Section Begin -->
    {% include 'user_app/partials/footer.html' %}

    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static 'user_temp_files/assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'user_temp_files/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'user_temp_files/assets/js/player.js' %}"></script>
    <script src="{% static 'user_temp_files/assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'user_temp_files/assets/js/mixitup.min.js' %}"></script>
    <script src="{% static 'user_temp_files/assets/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'user_temp_files/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'user_temp_files/assets/js/main.js' %}"></script>




</body>

</html>