{% extends 'user_app/user_main_layout.html' %}

{% load static %}

{% load custom_filters %}
{% comment %} 
I added load custom_filters because I wanted to:
  -- Find the number of active videos per each show
  1. I created a folder called 'templatetags' to define my custom filters 
  2. added my __init__.py file so that the folder will be treated as a python module
  3.I created a folder called custom_filters and then defined the function active_count in the file and am using it on line 43 in this file
{% endcomment %}

{% block content %}
{% comment %} hero start {% endcomment %}
<section class="normal-breadcrumb set-bg" data-setbg="{% static 'user_temp_files/assets/img/normal-breadcrumb.jpg' %}" style="background-image: url(&quot;{% static 'user_temp_files/assets/img/normal-breadcrumb.jpg' %}&quot;);">
    <div class="container">
        <div class="row">
          
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Log In</h2>
                    <p>Reactivate Your Session&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% comment %} hero end {% endcomment %}

<section class="signup spad">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login__form">
                    <h3>Log In</h3>
                {% include 'user_app/partials/form_elements/user/login_form.html' %}

                    <h5>Forgot Password? <a href="{% url 'forgot_password_page'%}">Reset Password!</a></h5>
                </div>
            </div>
           
        </div>
    </div>
</section>
{% endblock content %}

