
{% load custom_filters %}
{% comment %} 
I added load custom_filters because I wanted to:
  -- Find the number of active videos per each show
  1. I created a folder called 'templatetags' to define my custom filters 
  2. added my __init__.py file so that the folder will be treated as a python module
  3.I created a folder called custom_filters and then defined the function active_count in the file and am using it on line 22 in this file
{% endcomment %}
   {%for show in shows%}
    {% if forloop.last  and  shows.has_next%}

    <div class="col-lg-4 col-md-6 col-sm-6" hx-trigger="revealed"  hx-get="{% url 'user_genres_list' slug %}?page={{ shows.next_page_number }}" hx-swap="afterend">
     
        {%else%}
        
        <div class="col-lg-4 col-md-6 col-sm-6">
            {%endif%}
        <div class="product__item">
            <div class="product__item__pic set-bg" data-setbg="{{ show.cover_image_url }}" style="background-image: url('{{ show.cover_image_url }}');">

                <div class="ep">{{ show.video_set|active_count }}/{{ show.video_set.count }}</div>
                <div class="view"><i class="fa fa-eye"></i> 9141</div>
            </div>
            <div class="product__item__text">
                <ul>
                    {%for category in show.categories.all%}
                    <li>{{category}}</li>
                    {%endfor%}
                </ul>
                <h5><a href="anime-details.html">{{show}}</a></h5>
            </div>
        </div>
    </div>

   
{%endfor%}

    

