{% extends 'user_app/user_main_layout.html' %} 
{% load static %}
 {% block content %}

 {% comment %} share modal {% endcomment %}
<!-- Button to trigger the modal -->


<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title text-white" id="shareModalLabel">Share Video</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="mb-3">
                  <label for="videoUrlInput" class="form-label text-white">Video URL</label>
                  <input type="text"  class="form-control" id="videoUrlInput" value="https://www.example.com/video" readonly>
                  <p id="copySuccessMessage" class="text-success d-none">Video URL copied successfully, you can now share it anywhere possible.</p>
              </div>
              <p id="copySuccessMessage" class="text-success d-none">Video URL copied successfully, you can now share it anywhere possible.</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="copyButton">Copy Link</button>
          </div>
          <div class="modal-footer">
            <div class="btn-group" role="group">
              <a href="#" class="btn btn-primary" id="twitterShare"><i class="fab fa-twitter"></i> Tweet About This!</a>
             
          </div>
          
          </div>
      </div>
  </div>
</div>




<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a href="/"><i class="fa fa-home"></i> Home</a>
          <a href="#">Show</a>
          <span>{{page_title}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} detail start {% endcomment %}
<section class="anime-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
         
               




                <div class="video-container">
                  <video  src="{{video.video_url}}"  id="player" width="640" height="360" controls poster="{{ video.thumb_image_url }}"></video>
                 

                  {% if current_index > 0 %}
                  <button id="prevButton" class="control-button"><i class="fas fa-backward"></i></button>
              {% endif %}
              {% if current_index < last_video_index %}
                  <button id="nextButton" class="control-button"><i class="fas fa-forward"></i></button>
              {% endif %}



                  <button id="share" class="btn btn-lg mt-3 mb-3" data-bs-toggle="modal" data-bs-target="#shareModal"><i class="fas fa-share" style="color:white"></i></button>
                
              </div>
              

                <div class="anime__details__episodes">
                    <div class="section-title">
                        <h5>PART/EP(ES.)</h5>
                    </div>
                   
                    {% for video_item in show.video_set.all %}
                    {% if video_item.status == 'active' %}
                        <a class="mb-5 {% if video_item == video %}bg-warning{% endif %} video_link" href="{% url 'video_page' show.slug video_item.slug %}">{{ video_item }}</a>
                    {% endif %}
                {% endfor %}
                

                    
                </div>
            </div>
        </div>
   
    </div>
</section>

<style>
  .video-container {
      position: relative;
      display: inline-block;
  }

  .control-button {
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      color: white;
      padding: 10px;
      cursor: pointer;
      z-index: 2;
  }

  #prevButton {
      left: 10px;
  }

  #nextButton {
      right: 10px;
  }

  .control-button i {
      font-size: 24px;
  }


  
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
      const videoPlayer = document.getElementById('player');
      const links = document.querySelectorAll('.video_link');

      // Extract video details from the show object's video_set.all attribute
      const videos = [
          {% for video in show.video_set.all %}
          {
              url: "{{ video.video_url }}",
              slug: "{{ video.slug }}",
              title: "{{ video.title }}"
          },
          {% endfor %}
      ];

      // Get the index of the current video
      const currentVideoUrl = "{{ video.video_url }}";
      const currentVideoIndex = videos.findIndex(video => video.url === currentVideoUrl);
      let currentIndex = currentVideoIndex !== -1 ? currentVideoIndex : 0;

      // Function to load video by index
      const loadVideo = (index) => {

          const showSlug = '{{ show.slug }}';
          const videoSlug = videos[index].slug;
          const newURL = `/show/${showSlug}/watch/${videoSlug}/`;


          // Update the URL without reloading the page
        //  history.replaceState(null, '', newURL);

          // Highlight the current video link and remove the highlight from others
          links.forEach(link => {
              if (link.innerText === videos[index].title) {
                  link.classList.add('bg-warning');
              } else {
                  link.classList.remove('bg-warning');
              }
          });

         if (videoPlayer) {
           
       
         window.location.href=newURL
          
         }

      };



 
      // Add event listeners for next and prev buttons
      const nextButton = document.getElementById('nextButton');
      const prevButton = document.getElementById('prevButton');

      if(nextButton){
        nextButton.addEventListener('click', () => {
            if (currentIndex < videos.length - 1) {
                currentIndex++;
                loadVideo(currentIndex);
            }
        });

      }

     

      if(prevButton){ 
        document.getElementById('prevButton').addEventListener('click', () => {
          if (currentIndex > 0) {
              currentIndex--;
              loadVideo(currentIndex);
          }
      });
    }

      // Add event listener for share button to show the modal
      document.getElementById('share').addEventListener('click', () => {
          $('#shareModal').modal('show');
          const videoUrlInput = document.getElementById('videoUrlInput');
          videoUrlInput.value = window.location.href;
      });

      // Copy button functionality
      document.getElementById('copyButton').addEventListener('click', () => {
          const videoUrlInput = document.getElementById('videoUrlInput');
          videoUrlInput.select();
          document.execCommand('copy');
          const copySuccessMessage = document.getElementById('copySuccessMessage');
          copySuccessMessage.classList.remove('d-none');
          setTimeout(() => {
              copySuccessMessage.classList.add('d-none');
          }, 3000);
      });

      // Function to update share links
      const updateShareLinks = () => {
          const currentUrl = window.location.href;
          const tweetText = `New Video Uploaded!\n\nTitle: ${videos[currentIndex].title}\n\n`;
          
          const twitterUrl = `https://x.com/intent/tweet?url=${encodeURIComponent(currentUrl)}&text=${encodeURIComponent(tweetText)}`;
          document.getElementById('twitterShare').href = twitterUrl;
          document.getElementById('twitterShare').target = "_blank";

        
      };

     

  
      updateShareLinks();
  });
</script>


{% endblock content %}
