{% load humanize %}
<!-- Outputs: 1.5M -->

<div class="col-lg-4 col-md-6 col-sm-8">
    <div class="product__sidebar">
        <div class="product__sidebar__view">
        </div>
    </div>
    <div class="product__sidebar__comment">
        <div class="section-title">
            <h5>For You</h5>
        </div>

        {%for show in random_picks%}
        <div class="product__sidebar__comment__item" onclick="openShowModal()" hx-get="{% url 'show_page' show.slug %}" hx-target="#show_modal_body">
            <div class="product__sidebar__comment__item__pic">
                <img src="{{show.cover_image_url}}" alt="">
            </div>
            <div class="product__sidebar__comment__item__text">
             
                <h5><a href="#">{{show}}</a></h5>
                <span><i class="fa fa-eye"></i> {{show.view_count|intword}} Viewes</span>
            </div>
        </div>
        {%endfor%}
      
    </div>
</div>