{% load static %}
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="/">
                        <img src="{{site_logo}}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/">Homepage</a></li>
                            <li><a href='#'>Categories <span class="arrow_carrot-down"></span></a>
                                <ul class="dropdown">
                                    {%for category in categories%}
                                    <li><a href="{% url 'categories_page' category.slug %}">{{ category }} ({{category.categories_set.count}})</a></li>

                                    {%endfor %}
                                   
                                </ul>
                            </li>
                            <li><a href='#'>Genres <span class="arrow_carrot-down"></span></a>
                                <ul class="dropdown">
                                    {%for genre in genres%}
                                    <li><a href="{% url 'genres_page' genre.slug %}">{{ genre }} ({{genre.genres_set.count}})</a></li>

                                    {%endfor %}
                                   
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="header__right">
                    <a href="#" class="search-switch">{{request.user.name}}</a>
                    {% comment %} <a href="#" class="search-switch"><span class="icon_search"></span></a> {% endcomment %}
                    <a href="./login.html"><span class="icon_profile"></span></a>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap">
            <div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0"
                    class="slicknav_btn slicknav_collapsed"><span class="slicknav_menutxt">MENU</span><span
                        class="slicknav_icon"><span class="slicknav_icon-bar"></span><span
                            class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a>
                <nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                    <ul>
                        <li class="active"><a href="/" role="menuitem">Homepage</a></li>
                        <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem"
                                aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row"><a
                                    href="./categories.html">Categories <span class="arrow_carrot-down"></span></a>
                                <span class="slicknav_arrow">►</span></a>
                            <ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true"
                                style="display: none;">
                                <li><a href="./categories.html" role="menuitem" tabindex="-1">Romance</a></li>
                                <li><a href="./categories.html" role="menuitem" tabindex="-1">Adventure </a></li>
                                <li><a href="./categories.html" role="menuitem" tabindex="-1">Magic</a></li>
                                <li><a href="./categories.html" role="menuitem" tabindex="-1">Fantasy</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>