{% load static%}
<!-- Hero Section Begin -->
  <section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-1380px, 0px, 0px); transition: all 0s ease 0s; width: 4830px;">
                    
                    <div class="owl-item cloned" style="width: 690px;">
                        <div class="hero__items set-bg" data-setbg="{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}" style="background-image: url('{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}');">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="hero__text">
                                        <div class="label">Adventure</div>
                                        <a href="anime-details.html">
                                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                        </a>
                                        <p>After 30 days of travel across the world...</p>
                                        <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="owl-item cloned" style="width: 690px;">
                        <div class="hero__items set-bg" data-setbg="{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}" style="background-image: url('{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}');">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="hero__text">
                                        <div class="label">Adventure</div>
                                        <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                        <p>After 30 days of travel across the world...</p>
                                        <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="owl-item animated owl-animated-in fadeIn active" style="width: 690px;">
                        <div class="hero__items set-bg" data-setbg="{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}" style="background-image: url('{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}');">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="hero__text">
                                        <div class="label">Adventure</div>
                                        <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                        <p>After 30 days of travel across the world...</p>
                                        <a href="anime-watching.html"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="owl-item" style="width: 690px;">
                        <div class="hero__items set-bg" data-setbg="{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}" style="background-image: url('{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}');">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="hero__text">
                                        <div class="label">Adventure</div>
                                        <a href="anime-details.html">
                                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                        </a>
                                        <p>After 30 days of travel across the world...</p>
                                        <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="owl-item animated owl-animated-in fadeIn" style="width: 690px;">
                        <div class="hero__items set-bg" data-setbg="{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}" style="background-image: url('{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}');">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="hero__text">
                                        <div class="label">Adventure</div>
                                        <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                        <p>After 30 days of travel across the world...</p>
                                        <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="owl-item cloned" style="width: 690px;">
                        <div class="hero__items set-bg" data-setbg="{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}" style="background-image: url('{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}');">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="hero__text">
                                        <div class="label">Adventure</div>
                                        <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                        <p>After 30 days of travel across the world...</p>
                                        <a href="anime-watching.html"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="owl-item cloned" style="width: 690px;">
                        <div class="hero__items set-bg" data-setbg="{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}" style="background-image: url('{% static 'user_temp_files/assets/img/hero/hero-1.jpg' %}');">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="hero__text">
                                        <div class="label">Adventure</div>
                                        <a href="anime-details.html">
                                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                        </a>
                                        <p>After 30 days of travel across the world...</p>
                                        <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="owl-nav">
                <button type="button" role="presentation" class="owl-prev"><span class="arrow_carrot-left"></span></button>
                <button type="button" role="presentation" class="owl-next"><span class="arrow_carrot-right"></span></button>
            </div>
            <div class="owl-dots">
                <button role="button" class="owl-dot active"><span></span></button>
                <button role="button" class="owl-dot"><span></span></button>
                <button role="button" class="owl-dot"><span></span></button>
            </div>
        </div>
    </div>
</section>

<!-- Hero Section End -->