{% load widget_tweaks %}

<form id="genreForm" hx-post="{{request.path}}" hx-indicator="#loading">
    <!-- request.path will return add_genre route becuase it is the same 
        endpoint that returned this form inside the modal
     -->
     <div class="mb-4">
        <label for="name" class="block text-gray-700">Genre Name</label>
        {% render_field form.name class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm"  %}
   
        {% if form.name.errors %}
        <p class="text-red-500 text-sm mt-2">
            {{ form.name.errors.0 }}
        </p>
    {% endif %}
    </div>

    <div class="mb-4">
        <div class="mb-4">
            <span class="block text-gray-700">Status</span>
            <div class="mt-2">
                {% for radio in form.status %}
                    <label class="inline-flex items-center">
                        {{ radio.tag }}
                        <span class="ml-2 form-radio text-purple-600">{{ radio.choice_label }}</span>
                    </label>
                {% endfor %}
            </div>
        </div>
        {% if form.status.errors %}
        <p class="text-red-500 text-sm mt-2">
            {{ form.status.errors.0 }}
        </p>
    {% endif %}
    </div>
    <div class="flex justify-end">
        <span class="text-center htmx-indicator m-auto h-10 inline-block w-full px-6 py-3 mt-6" id="loading">
            <div class="htmx-indicator animate-spin rounded-full h-5 w-5 border-t-2 border-b-2 border-purple-500"></div>

        </span>

        <div>
            <button type="submit"
                class="px-4 py-2 bg-gradient-to-tl from-purple-700 to-pink-500 hover:shadow-soft-2xl hover:scale-102 text-white rounded-md shadow-sm hover:bg-purple-600">Save</button>


        </div>
    </div>
    
</form>
